-- Validation Report --

Validation 1 — Total Row Count
9994

Validation 2 — Null Value Assessment
There is no null found in any colum in null validation 

Validation 4 — Order Date Integrity
No record returns found

Validation 5 — Sales Validation
No records found 

Validation 6 — Quantity Validation
No records found 

Validation 7 — Discount Validation
No records found

Validation 8 — Category Consistency
clear

Validation 9 — Region Consistency
clear 

Validation 10 — Date Coverage
first-order : 2014-01-03
last_order : 2017-12-11


